@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

#root, html, body {
    height: 100vh;
}

.alanBtn {
    bottom: -23px !important;
}

.alanBtn-recognised-text-holder {
    bottom: 45px !important;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif !important;
}

html {
    scroll-behavior: smooth;
}